<!DOCTYPE html>
<html lang="es-ES">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link rel="shortcut icon" href="{{ baseUrl() }}/assets-ref/img/favicon/16.png" type="image/x-icon" />
	<!-- For iPhone -->
	<link rel="apple-touch-icon-precomposed" href="{{ baseUrl() }}/assets-ref/img/favicon/57.png">
	<!-- For iPhone 4 Retina display -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ baseUrl() }}/assets-ref/img/favicon/57.png">
	<!-- For iPad -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ baseUrl() }}/assets-ref/img/favicon/72.png">
	<!-- For iPad Retina display -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ baseUrl() }}/assets-ref/img/favicon/144.png"> {% block opengraph %}
	<meta property="og:url" content="{{ baseUrl() }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Bases para la Reforma" />
	<meta property="og:site_name" content="Bases para la Reforma" />
	<meta property="og:description" content="La Constitución es la ley fundamental de un Estado, la de más alto rango en el ordenamiento político y jurídico, y con la cual deben guardar coherencia el resto de las leyes.
Así, en el caso de la Constitución de Santa Fe, es la norma fundamental de la" />
	<meta property="og:image" content="" /> {% endblock %}
	<title>{% block titulo %}{% endblock titulo %} - Bases para la Reforma</title>
	<!-- Bootstrap -->
	{% block linkhead %}{% endblock %}
	<link href="{{ baseUrl() }}/assets-ref/css/virtuagora-ref.css" rel="stylesheet">
</head>

<body data-spy="scroll" {% if body_class is defined %}class='{{ body_class }}'{% endif %} {% if body_style is defined %}style='{{ body_style }}'{% endif %}>
	<div class="wrapper">
			<nav id="mainNav" class="navbar navbar-default navbar-custom affix" style="width: 100%;position: relative;margin-bottom:0;border-radius: 0">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars fa-2x"></i>
                </button>
						<a class="navbar-brand blanco" href="http://basesparalareforma.digital/"><img src="{{ baseUrl() }}/assets-ref/img/logo.png" class="img-responsive" alt=""></a>
						<a class="navbar-brand negro" href="http://basesparalareforma.digital/"><img src="{{ baseUrl() }}/assets-ref/img/logo2.png" class="img-responsive" alt=""></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li class="page-scroll">
								<a href="{{urlFor('shwIndex')}}">Ejes</a>
							</li>
							<li class="page-scroll">
								<a href="{{urlFor('shwLogin')}}"><i class="fa fa-sign-in fa-fw"></i> Iniciar Sesión</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
			<!--HEADER-->
		<!-- container-->
		<!-- body -->
		{% block body %}{% endblock %}
		<div class="push"></div>
	</div>
	<div class="footer">
		<h1><a href="https://twitter.com/intent/tweet?hashtags=BasesparalaReforma%2C&amp;original_referer=http%3A%2F%2Fbasesparalareforma.digital%2Fantecedentes%2F&amp;ref_src=twsrc%5Etfw&amp;text=Yo%20participo%20de%20las%20%23BasesparalaReforma%2C%20una%20Constituci%C3%B3n%20para%20Santa%20Fe.%20Sumate%20en&amp;tw_p=tweetbutton&amp;url=http%3A%2F%2Fbasesparalareforma.digital"
							target="_blank">#BasesparalaReforma</a></h1>
	</div>
	{% if flash['success'] is defined %}
	<div id="modal-success" class="modal fade " tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #8BC34A;color: #FFF;border-bottom: 0;">
					<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
					<h4>{{ flash.success|capitalize }}</h4>
				</div>
			</div>
		</div>
	</div>
	{% endif %} {% if flash['errors'] is defined %}
	<div id="modal-errors" class="modal fade " tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #ff5722;color: #FFF;border-bottom: 0;">
					<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
					<ul class="list-unstyled">
						{% for error in flash['errors'] %}
						<h4> {{ error|capitalize }}</h4>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endif %} {% if flash['warning'] is defined %}
	<div id="modal-warning" class="modal fade " tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #FFC107;color: #000;border-bottom: 0;">
					<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button> {{ flash.warning|capitalize
					}}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{{ baseUrl() }}/assets-ref/js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ baseUrl() }}/assets-ref/js/bootstrap.min.js"></script>
	<!--=======================-->
	<script>
		$(document).ready(function() {
			{% if flash['success'] is defined %}
				$('#modal-success').modal('show');
			{% endif %} {% if flash['errors'] is defined %}
				$('#modal-errors').modal('show');
			{% endif %} {% if flash['warning'] is defined %}
				$('#modal-warning').modal('show');
			{% endif %}
		});
	</script>
	{% block scripts %}{% endblock %}
</body>

</html>