<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="shortcut icon" href="{{ baseUrl() }}/assets-ref/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ baseUrl() }}/assets-ref/img/favicon.ico" type="image/x-icon">
        <title>La Reforma Santa Fe</title>
        <!-- Bootstrap -->
        {% block linkhead %}{% endblock %}
        <link href="{{ baseUrl() }}/assets-ref/css/virtuagora-ref.css" rel="stylesheet">

    </head>

    <body data-spy="scroll" data-target="#secciones">
        {% block body %}{% endblock %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ baseUrl() }}/assets/js/jquery/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ baseUrl() }}/assets/js/bootstrap.min.js"></script>
        <!--=======================-->
        {% block scripts %}{% endblock %}
    </body>
</html>
