<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand text-center" style="height:auto; padding: 10px 10px 0; line-height:normal;">
			<a href="{{urlFor('shwIndex')}}">
<img src="{{baseUrl()}}/assets-ref/img/sf-ref-logo-white.svg" class="img-responsive" style="padding:10px;" alt="">
			</a>
			<a href="https://www.virtuagora.org" style="display:inline;">
				<span style="font-size:9px;color:#FFF">
                        En colaboración con 
                        <img src="{{baseUrl()}}/assets/img/bigwhitelogo.png" style="height:17px;"alt=""/>
                        </span>
			</a>
		</li>
		<hr>
		<li>
			<a href="{{ urlFor('shwModifUsuario') }}" style="font-weight:600;">Editar perfil</a>
		</li>
		<li>
			<a href="{{ urlFor('shwModifClvUsuario') }}" style="font-weight:600;">Cambiar clave</a>
		</li>
		<li>
			<a href="{{urlFor('shwIndex')}}"><i class="fa fa-reply fa-lg" style="display:inline;"></i>&nbsp; Volver</a>
		</li>
		<hr>
		<li>
			<span style="color:#FFF;font-weight:400;"><img src="{{ avatarUrl(user.img_tipo, user.img_hash, 32) }}" class="img-rounded" style="width:25px;" alt="">&nbsp;&nbsp;{{user.nombre}} {{user.apellido}}</span>
		</li>
	</ul>
</div>
<!-- /#sidebar-wrapper -->