<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<br>
		<li>
			<a href="#"><i class="fa fa-arrow-circle-left fa-2x" style="display:inline;"></i></a>
		</li>
		<li class="sidebar-brand text-center" style="height:auto; padding: 10px 10px 0; line-height:normal;">
			<a href="#">
				<img src="{{baseUrl()}}/assets-ref/img/logo.png" class="img-responsive" alt="">
			</a>
			<a href="#" style="display:inline;">
				<span style="font-size:9px;color:#FFF">
                        En colaboración con 
                        <img src="{{baseUrl()}}/assets/img/bigwhitelogo.png" style="height:17px;"alt=""/>
                        </span>
			</a>
		</li>
		<hr>
		<li>
			<a href="{{urlFor('shwCrearDerecho')}}">Nuevo <b>Eje</b></a>
		</li>
		<li>
			<a href="#">Modificar <b>Eje</b></a>
		</li>
		<hr>
		<li>
			<a href="{{ urlFor('shwCrearModerad') }}">Moderadores</a>
		</li>
		<li>
			<a href="{{ urlFor('shwCrearImagen') }}">Imagenes</a>
		</li>
		<li>
			<a href="{{ urlFor('shwAdmAjuste') }}">Ajustes</a>
		</li>
		<li>
			<a href="{{ urlFor('shwEstadi') }}">Estadisticas</a>
		</li>
		<li>
			<a href="{{ urlFor('shwExportar') }}">Exportar</a>
		</li>
		<hr>
		<li>
			<span style="color:#FFF"><img src="http://a.facdn.net/1475185890/zaqueo.gif" style="width:32px; border-radius:20px;" alt=""> Guillermo Croppi <i class="fa fa-check fa-fw" style="display:inline;"></i></span>
		</li>
	</ul>
</div>
<!-- /#sidebar-wrapper -->