<div id="comentarios{{ seccion.id }}" class="modal fade">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comentarios</h4>
            </div>
            <div class="modal-body">
                <div class="well">
                {% if user is not null %}
                    <form class="form-horizontal" action="{{ urlFor('runComentar', {'tipoRaiz': 'seccion' , 'idRaiz': seccion.id}) }}" method="POST">
                        <div class="form-group" style="margin-bottom:0">
                            <label class="col-xs-1 col-sm-offset-1 text-center"><img src="{{ avatarUrl(user.img_tipo, user.img_hash, 32) }}" class="img-circle" style="margin:0 auto 5px" alt=""></label>
                            <div class="col-xs-11 col-sm-9">
                                <span class="text-info"><strong>{{ user.nombre }} {{ user.apellido}}</strong></span>
                                <textarea name="cuerpo" class="form-control input-sm" rows="1" placeholder="Escriba aqui su comentario..." style="resize: none;"></textarea>
                                <div class="clearfix" style="margin-top: 10px">
                                    <button type="submit" class=" pull-right btn btn-primary btn-xs">Enviar comentario</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% else %}
            <a href="{{urlFor('shwLogin')}}" class="btn btn-sm btn-primary btn-block"> Para comentar y participar, Inicié Sesión</a>
             {% endif %}
                </div>
                <div class="lista-comentarios">
                    {% for comentario in seccion.comentarios %} {% include 'lpe/contenido/derecho/comentario.twig' %} {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link btn-block btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>