{% extends "ref/side-master.twig" %} {# ----------------------------------------------------------- #} {% block linkhead
%}
<link rel="stylesheet" href="{{ baseUrl() }}/assets-ref/css/sceditor/sceditor-main.css"> {% endblock %} {% block titulo %}Modificar eje{% endblock %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-11 col-lg-8">
            <form id="crearDerecho" action="{{ urlFor('runCrearDerecho') }}" method="POST" enctype="multipart/form-data">
                <h1>Modificar Eje</h1>
                <hr>
                <div class="form-group">
                    <label class="control-label" for="titulo">Titulo del Eje</label>
                    <input class="form-control input-lg" id="titulo" name="titulo" ype="text">
                </div>
                <div class="form-group">
                    <label class="control-label" for="orden">Orden del Eje</label>
                    <span class="help-block">De ser 8 ejes en total, defina en que orden se ubica el eje. (Por ejemplo, si es el segundo eje, seria "2")</span>
                    <input class="form-control" id="orden" name="orden"type="text">
                </div>
                <div class="form-group">
                    <label class="control-label" for="inputLarge">Descripcion en Home</label>
                    <span class="help-block">Sin formato. Esta descripción aparece en la página donde se listan los ejes.</span>
                    <textarea class="form-control" rows="3" id="textArea">{{derecho.descripcionHome}}</textarea>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" for="inputLarge">Descripcion</label>
                    <span class="help-block">Esta es la descripcion del EJE.</span>
                    <textarea name="descripcion">{{ derecho.descripcion|bbCode }}</textarea>
                </div>
                <hr>
                <h3>Preguntas orientadoras</h3>
                <p class="text-muted">Aqui se listan los preguntas orientadoras del eje general. En lo posible, intentar que sean los mas definitivos posibles.
                </p>
                <ul class="list-group lista-acciones">
                    {% for seccion in derecho.secciones %}
                    <li class="list-group-item accion-container">
                        <textarea name="cuerpo" class="accion form-control"  placeholder="Describa el eje">{{seccion.descripcion|nl2br}}</textarea>
                    </li>
                    {% endfor %}
                </ul>
                <!--<a id="nuevaAccion" href="javascript:void(0)" class="btn btn-sm btn-info btn-block"><i class="mdi mdi-plus"></i> Agregar una acción</a>-->
                <hr>
                <div class="form-group clearfix">
                    <a href="#" class="btn btn-large btn-default ">Cancelar</a>
                    <button type="submit" class="btn btn-lg btn-primary pull-right">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-ref/js/autosize.min.js"></script>
<script src="{{ baseUrl() }}/assets-ref/js/sceditor/jquery.sceditor.js"></script>
<script id="accionTemplate" type="text/template">
    <li class="list-group-item accion-container">
        <a id="eliminar-numAccion" href="javascript:void(0)" data-idaccion='numAccion' class="eliminarAccion pull-right" style="font-size:13px;"><i class="fa fa-close"></i></a>
        <textarea name="cuerpo" class="accion form-control" rows="2" placeholder="Describa el EJE..."></textarea>
    </li>
</script>
<script>
	var numeroAccion = 2;
	 $(document).ready(function() {
         $('[name="titulo"]').val('{{ derecho.titulo }}');
	$('[name="orden"]').val('{{ derecho.orden }}');
 $("textarea[name=descripcion]").sceditor({
            plugins: "bbcode",
            emoticonsEnabled: false,
            toolbarExclude: "font,color,table,horizontalrule,subscript,superscript",
            height: '100%',
            width: '100%',
            style: "{{ baseUrl() }}/assets-ref/css/virtuagora-ref-side.css",
            resizeEnabled: false,
            resizeHeight: true,
            autoExpand: true,
            enablePasteFiltering: true
        });
         autosize($('textarea'));
	 });
	 
	  var iniciarEditor = function(nombre) {
        $("textarea[name='" + nombre + "']").sceditor({
            plugins: "bbcode",
            emoticonsEnabled: false,
            toolbarExclude: "font,color,table,horizontalrule,subscript,superscript",
            height: '150',
            width: '100%',
            style: "{{ baseUrl() }}/assets-ref/css/virtuagora-ref-side.css",
            resizeEnabled: false,
            resizeHeight: true,
            autoExpand: true,
            enablePasteFiltering: true
        });
    }

	  $("#nuevaAccion").click(function(e) {
        var nuevaAccion = $("#accionTemplate").html().replace(new RegExp('numAccion', 'g'), numeroAccion);
        $(".lista-acciones").append(nuevaAccion)
        numeroAccion += 1
        autosize($('textarea'));
    });
    $(document.body).on('click', '.eliminarAccion', function() {
        var i = $(this).data('idaccion') + 1
        $(this).closest(".accion-container").remove();
        for (; i <= numeroAccion + 1; i++) {
            $('#eliminar-' + i).attr('data-idaccion', (i - 1)).attr('id', "eliminar-" + (i - 1));;
            $("textarea[name='cuerpo-" + i + "']").attr('name', "cuerpo-" + (i - 1))
        }
        numeroAccion -= 1;
    });
    var eliminarAccion = function(e) {
        $(this).closest(".li-accion").remove();
    }

	 $( "form" ).submit(function( event ) {	
        var secciones = [];        
        $( "textarea[name=cuerpo]" ).each(function( index ) {
        secciones.push($( this ).val());
        });
        var seccionesString = secciones.join("&&")
        $('input[name=secciones]').val(seccionesString);
        return true;
});

$("form :input").change(function(){
   console.log($("form").serialize());
});
	</script> {% endblock scripts %}