{% extends "ref/master.twig" %} {# ----------------------------------------------------------- #}
{% block titulo %}{{derecho.titulo}}{%endblock%}
{% block opengraph %}
	<meta property="og:url" content="{{ derecho.link }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ derecho.titulo }} - Bases para la Reforma" />
	<meta property="og:site_name" content="Bases para la Reforma" />
	<meta property="og:description" content="La Constitución es la ley fundamental de un Estado, la de más alto rango en el ordenamiento político y jurídico, y con la cual deben guardar coherencia el resto de las leyes.
Así, en el caso de la Constitución de Santa Fe, es la norma fundamental de la" />
	<meta property="og:image" content="" /> {% endblock %}
{% block body %}
<header class="titulo">
	<div class="container">
		<div class="row text-right">
			<h1 class="blanco bold">La Constitución de Santa Fe</h1>
		</div>
	</div>
	<img src="{{ baseUrl() }}/assets-ref/img/encabezado-fondo-transp.png" class="medios img-responsive">
</header>
<div class="eje-container eje{{derecho.id}}">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-6 col-md-offset-1">
				<a href="{{urlFor('shwIndex')}}" class="btn btn-default"><i class="fa fa-arrow-left fa-fw"></i> Volver Atrás</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-6 col-md-offset-1">
				<h1 class="black grande"><span class="red">0{{derecho.orden}}</span><br><span class="white">{{derecho.titulo}}</span></h1>
				<div class="descripcion-content">
					{{ derecho.descripcion|bbCode }}
				</div>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-4 hidden-xs">
				<img src="{{ baseUrl() }}/assets-ref/img/manos-fondo-transp.png" class="img-responsive" style="margin: auto; max-height:320px;"
						alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<table class="preguntas table">
					<tbody>
						<tr>
							<td>
								<h3 class="black grey">Algunas preguntas orientativas</h3>
								{% for seccion in derecho.secciones %}
								<h5 class="bold">{{seccion.descripcion}}</h5>
								{% endfor %}
							</td>
							<td class="toggle-comentarios" style="max-width:200px; background-color:">
								<i class="fa fa-comments-o fa-fw"></i><span class="hidden-xs"> ¡Participá!</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="listaComentarios" style="padding:30px 0px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="comentario-container">
					<a href="{{urlFor('shwLogin')}}" class="pull-left">
						 {% if user is not empty %}
						<img alt="image" class="img-circle" src="{{ avatarUrl(user.img_tipo, user.img_hash, 32) }}">
						{% else %}
						<img alt="image" class="img-circle" src="{{ baseUrl() }}/assets/img/anon64.jpg">
						{% endif %}
					</a>
					<div class="media-body">
						{% if user is not empty %}
						<form action="{{ urlFor('runComentar', {'tipoRaiz': 'seccion' , 'idRaiz': 1}) }}" method="POST">
							<strong>{{ user.nombre }} {{ user.apellido}}</strong><br>
							<small class="text-muted">Deje su comentario</small>
							<textarea id="dejarComentario" name="cuerpo" class="form-control" rows="2" style=""></textarea>
							<br>
							<div class="pull-right">
								<button type="submit" class="btn btn-xs btn-success"><i class="fa fa-thumbs-up fa-fw"></i> Enviar</button>
							</div>
						</form>
						{% else %}
						<strong>Usuario anonimo</strong><br>
						<small class="text-primary">Debe<strong><a href="#"><i class="fa fa-sign-in fa-fw"></i>INICIAR SESION</a></strong> para poder comentar</small>
						<textarea id="dejarComentario" name="comentario" class="form-control disabled" id="" rows="2" style="" disabled></textarea>
						<br>
						<div class="pull-right">
							<a href="{{urlFor('shwLogin')}}" class="btn btn-xs btn-primary"><i class="fa fa-sign-in fa-fw"></i> Iniciar sesión</a>
						</div>
						{% endif %}
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
					{% if derecho.secciones[0].comentarios|length > 0 %}
				<div class="grid">
					<div class="grid-sizer"></div>
					{% for comentario in derecho.secciones[0].comentarios %}
					<div class="grid-item">
						<div class="comentario-container">
							<a href="{{ urlFor('shwUsuario',{'idUsu': comentario.autor.id}) }}" class="pull-left">
								<img alt="image" class="img-circle" src="{{ avatarUrl(comentario.autor.img_tipo, comentario.autor.img_hash, 32) }}">
							</a>
							<div class="media-body ">
								<strong>{{ comentario.autor.nombre }} {{ comentario.autor.apellido }}</strong> hizo un comentario
								{% if user and (user.es_moderador) %}
									<a href="javascript:eliminarComentario({{comentario.id}})" class="btn btn-xs btn-warning pull-right" style="margin-left:5px;" data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar" ><i class="fa fa-times"></i></a>
									{% endif %}
								<br>
								<small class="text-muted">{{ comentario.created_at|date("d-M-Y") }}</small>
								<div class="well well-sm" style="margin-top:5px; margin-bottom:5px;">
									{{ comentario.cuerpo|nl2br }}
								</div>
								<div class="text-right" style="margin-top:3px;">
									{% if user is not empty %}
									<a href="javascript:votarComentario({{comentario.id}},1)" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="bottom" data-original-title="Me gusta"><i class="fa fa-thumbs-up"></i> <b>{{comentario.karma}}</b></a>
									<a href="javascript:votarComentario({{comentario.id}},-1)" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="No me gusta"><i class="fa fa-thumbs-up fa-flip-vertical fa-flip-horizontal"></i></a>									
									<a href="javascript:verBoxResponder({{comentario.id}})" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="Responder" ><i class="fa fa-reply"></i> <b>{{comentario.respuestas|length}}</b></a>
									{% else %}
<a href="{{urlFor('shwLogin')}}" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="bottom" data-original-title="Me gusta"><i class="fa fa-thumbs-up"></i> <b>{{comentario.karma}}</b></a>
									<a href="{{urlFor('shwLogin')}}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="No me gusta"><i class="fa fa-thumbs-up fa-flip-vertical fa-flip-horizontal"></i></a>									
									<a href="{{urlFor('shwLogin')}}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="Responder" ><i class="fa fa-reply"></i> <b>{{comentario.respuestas|length}}</b></a>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="lista-respuestas" style="margin-top:20px; padding-left:40px;">
							<form class="form-horizontal" action="{{ urlFor('runComentar', {'tipoRaiz': 'comentario', 'idRaiz': comentario.id }) }}" method="POST">
							<div id="respComentario-{{comentario.id}}" class="comentario-container" style="display:none;">
								<a href="{{ urlFor('shwUsuario',{'idUsu': user.id}) }}" class="pull-left">
									<img alt="image" class="img-circle" src="{{ avatarUrl(user.img_tipo, user.img_hash, 32) }}" style="width:20px;">
								</a>
								<div class="media-body">
										<strong>{{ user.nombre }} {{ user.apellido}}</strong><br>
										<small class="text-muted">en respuesta a {{ respuesta.autor.nombre }} {{ respuesta.autor.apellido }}</small>
										<textarea name="cuerpo" class="form-control respuesta" rows="1" style=""></textarea>
										<div class="pull-right" style="margin-bottom:8px;">
											<button type="submit" class="btn btn-xs btn-success"><i class="fa fa-check fa-fw"></i> Enviar</button>
										</div>
								</div>
							</div>
							</form>
						{% if comentario.respuestas|length > 0 %}
            {% for respuesta in comentario.respuestas %}
							<div class="comentario-container" style="margin-bottom:10px;">
								<a href="{{ urlFor('shwUsuario',{'idUsu': respuesta.autor.id}) }}" class="pull-left">
									<img alt="image" class="img-circle" src="{{ avatarUrl(respuesta.autor.img_tipo, respuesta.autor.img_hash, 32) }}" style="width:20px;">
								</a>
								<div class="media-body">
										<div class="btn-group-vertical btn-group-xs pull-right" style="margin-left: 5px;">
											{% if user is not empty %}
											{% if user and (user.es_moderador) %}
									<a href="javascript:eliminarComentario({{respuesta.id}})" class="btn btn-warning"><i class="fa fa-times"></i></a>
									{% endif %}
									<a href="javascript:votarComentario({{respuesta.id}},1)" class="btn btn-default" ><i class="fa fa-thumbs-up"></i> <b>{{respuesta.karma}}</b></a>
									<a href="javascript:votarComentario({{respuesta.id}},-1)" class="btn btn-default"><i class="fa fa-thumbs-up fa-flip-vertical fa-flip-horizontal"></i></a>		
									{% else %}
<a href="{{urlFor('shwLogin')}}" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="Me gusta"><i class="fa fa-thumbs-up"></i> <b>{{respuesta.karma}}</b></a>
									<a href="{{urlFor('shwLogin')}}" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="No me gusta"><i class="fa fa-thumbs-up fa-flip-vertical fa-flip-horizontal"></i></a>									
									{% endif %}
											</div>
									
										<strong>{{ respuesta.autor.nombre }} {{ respuesta.autor.apellido }}</strong><i> <span class="respuesta">{{ respuesta.cuerpo|nl2br }}</span></i>
								</div>
							</div>
						{% endfor %}
						{% endif %}
						</div>

						<hr>
					</div>
					{% endfor %}
				</div>
					{% else %}
					<div class="text-center">
						<h3 class="black gris">No hay comentarios<br><small>¡Sea el primero dejando su comentario!</small></h3>
					</div>
					{% endif %}
			</div>
		</div>
	</div>
</div>
<form id="votarComentario" method="POST">
    <input type="text" name="valor" style="display:none">
</form>
 <form id="eliminarComentario" action="{{ urlFor('runElimiComenta') }}" method="POST">
    <input type="hidden" type="text" name="id">
</form>
{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-ref/js/autosize.min.js"></script>
<script src="{{ baseUrl() }}/assets-lpe/js/masonry.pkgd.min.js"></script>
<script>
	var countletter = 0;
	$(document).ready(function() {
         autosize($('textarea'));
				 $('[data-toggle="tooltip"]').tooltip();
				  $('.grid').masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.grid-item',
        // use element for option
        columnWidth: '.grid-sizer',
        percentPosition: true
    })
	 });

    $(function() {
  $('a[href="#derechos"]').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

$('td.toggle-comentarios').click(function(){ 
            //$('#listaComentarios').show(150);
			$('#dejarComentario').focus();
			$('html, body').animate({
                    scrollTop: $("#dejarComentario").offset().top - 250
                }, 1000);			
    });
		    var verBoxResponder = function(id) {
        $('#respComentario-' + id).toggle();
								$('.grid').masonry();
    }

$( "textarea.respuesta" ).keydown(function() {
  countletter += 1;
	if( countletter == 10 ){
		countletter = 0
				$('.grid').masonry();
	}
});
    var votarComentario = function(id, valor) {
        var action_no = "{{ urlFor('runVotarComenta') }}";
        $('#votarComentario').find('input[name="valor"]').val(valor)
        var action_yes = action_no.replace(':idCom', id);
        $('#votarComentario').attr('action', action_yes);
        $('#votarComentario').submit();
    }

		 var eliminarComentario = function(id) {
        $('#eliminarComentario').find('input[name="id"]').val(id)
        $('#eliminarComentario').submit();
    }
		
</script> {% endblock scripts %}