{% set body_style = 'background-color: #ddf3ff;' %} {% extends "ref/master2.twig" %} {# -----------------------------------------------------------
#} {% block titulo %}Login{% endblock %} {% block body %}
<div class="registro-panel">
	<div class="container">
		<div class="row">
			<div class="panel-inicio col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 ">
				<h1 class="black gris ">Entrar</h1>
				<p>Inicie sesión o <a href="{{urlFor('shwCrearUsuario')}}">registrese</a> para poder participar</p>
				<div class="well well-lg">
				<form action="{{ urlFor('runLogin') }}" method="POST" class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label for="inputEmail" class="col-md-2 control-label">Email</label>
							<div class="col-md-10">
								<input name="email" type="email" placeholder="Escriba aquí su email" id="inputEmail" class="form-control" required>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-md-2 control-label">Contraseña</label>
							<div class="col-md-10">
								<input name="password" type="password" placeholder="Escriba aquí su contraseña" id="inputPassword" class="form-control" required>
							</div>
						</div>
					</fieldset>
					<button type="submit" class="btn btn-red btn-block">Entrar <i class="mdi mdi-login-variant"></i></button>
				</form>
			</div>
				<a href="{{urlFor('shwIndex')}}" class="btn btn-default btn-sm btn-block">Volver</a>
				<br>
				<div class="btn-group btn-group-justified">
					<a href="{{urlFor('shwCrearUsuario')}}" class="btn btn-link">Registrarse</a>
					<a id="verRecuperar" href="javascript:void(0)" class="btn btn-link">¿Olvido su contraseña?</a>
				</div>
			</div>
			<div class="panel-recuperar col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="display:none;">
				<h2 class="black gris">Recuperar contraseña</h2>
				<p>Te enviaremos un link de recuperación por email.<br>Revisá tu casilla y seguí los pasos.</p>
				<form action="{{ urlFor('runRecuperarClave') }}" method="POST">
					<div class="form-group">
						<label for="inputEmail" class="control-label">Email</label>
						<input name="email" type="email" placeholder="Escriba aquí su email" id="inputEmail" class="form-control" required>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-red btn-block">Recuperar mi contraseña</button>
						<br>
						<a id="volverInicio" class="btn btn-default btn-sm btn-block" href="javascript:void(0)">Iniciar sesión</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %} {# ----------------------------------------------------------- #} {% block scripts %}
<script>
    $( document ).ready(function() {
        $( "#volverInicio" ).click(function() {
          $( ".panel-recuperar" ).hide("slide" );
          $( ".panel-inicio" ).show("slide" );
        });
        $( "#verRecuperar" ).click(function() {
          $( ".panel-inicio" ).hide("slide" );
                $( ".panel-recuperar" ).show("slide" );
        });
    });
</script> {% endblock %}