<div class="modal fade opinionModal" id="opinion{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body text-justify">
                <div class="header-opinion bgcolor{{colorSeleccionado}}">
                    <div class="overlay text-center">
                        <!--<img src="https://unsplash.it/300/200/?random" class="img-rounded" style="width:180px" alt="">-->
                        <h3><small>La opinión de..</small><br><b>{{opinion.participante.nombre}}</b></h3>
                       	{% if user and (user.patrulla_id != null) %}
                        <h6><a href="{{ urlFor('shwModifOpinion', {'idOpi': opinion.id }) }}" class="btn btn-default btn-sm"><i class="zmdi zmdi-edit zmdi-hc-lg zmdi-hc-fw"></i>Editar opinion</a></h6>
                        {% endif %}                    
                    </div>
                </div>
                <hr>
                <div class="descripcion">
                    {{ opinion.cuerpo|bbCode  }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class=" btn btn-link btn-block btn-sm" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close zmdi-hc-lg zmdi-hc-fw"></i>Cerrar</button>
            </div>
        </div>
    </div>
</div>