{% if derecho.imagen == 1 %}
{% set linkImagen = baseUrl() ~ '/img/derecho/' ~ derecho.id ~ '.jpg' %}
{% endif %}

{% extends "lpe/master.twig" %} 

{% set share_link = derecho.link %}
{% set twitter_txt = 'Lee mas acerca del ' ~ derecho.titulo|lower  %}

{% block opengraph %}
<meta property="og:url"                content="{{ baseUrl() }}/derecho/{{derecho.id}}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ derecho.titulo}} - Nueva Ley Provincial de Educación" />
<meta property="og:description"        content="{{ derecho.descripcion|bbCode|slice(0,180)|replace({'<br>': " ", '<b>': "",'</b>': "",'<i>': "",'</i>': "",'<u>': "",'</u>': ""}) }} ... [Leer Mas]" />
<meta property="og:image"              content="{{linkImagen}}" />
{% if derecho.imagen == 1 %}
<meta property="og:image"              content="{{linkImagen}}" />
{% endif %}
<meta property="og:video"              content="https://www.youtube.com/watch?v={{derecho.video}}" />
    {% endblock %}
{% block linkhead %} {% endblock %} {# ----------------------------------------------------------- #} {% block titulo %}{{ derecho.titulo }}{% endblock %} {% block body %}
<article>
{% set colorSeleccionado = random(3) %}
    <div class="titulo-derecho-background bgcolor{{colorSeleccionado}}" style="{{ derecho.imagen == 1 ? 'background-image: url(' ~ linkImagen ~ ')':''}}">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1><strong>{{ derecho.titulo }}</strong></h1> {% if user and (user.patrulla_id != null) %}
                        <h6><a href="{{ urlFor('shwModifDerecho', {'idDer': derecho.id}) }}" class="btn btn-default"><i class="zmdi zmdi-edit zmdi-hc-lg zmdi-hc-fw"></i>Editar derecho</a></h6> {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="derecho" class="col-xs-12 col-sm-12 col-md-8">
                <div id="descripcion">
                    
                    <p>{{ derecho.descripcion|bbCode }}</p>
                </div>
                {% for seccion in derecho.secciones %}
                <div class="accion clearfix">
                    <div class="pull-left" style="margin-right:20px">
                        {% set ptj = (seccion.votos_alta * 3) + (seccion.votos_media * 2) + (seccion.votos_baja * 1) %}
                        <!--<h5>&nbsp;{{seccion.votos_alta}}/{{seccion.votos_media}}/{{seccion.votos_baja}}<i class="zmdi zmdi zmdi-chart zmdi-hc-fw zmdi-hc-lg"></i></h5>-->
                        <!--<h5 class="text-success">&nbsp;{{ptj}}<i class="zmdi zmdi-long-arrow-up zmdi-hc-fw zmdi-hc-lg"></i></h5>-->
                        <div class="btn-group-vertical btn-group-sm">
                            <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',3)' : urlFor('shwLogin')}}" class="btn {{((voto[seccion.id] is not null) and (voto[seccion.id] == 3)) ? 'btn-primary disabled' : 'btn-default'}}">Urgente</a>
                            <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',2)' : urlFor('shwLogin')}}" class="btn {{((voto[seccion.id] is not null) and (voto[seccion.id] == 2)) ? 'btn-primary disabled' : 'btn-default'}}">Importante</a>
                            <a href="{{ user ? 'javascript:votarSeccion(' ~ seccion.id ~',1)' : urlFor('shwLogin')}}" class="btn {{((voto[seccion.id] is not null) and (voto[seccion.id] == 1)) ? 'btn-primary disabled' : 'btn-default'}}">Poco importante</a>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#comentarios{{ seccion.id }}" class="btn btn-info">{{ seccion.comentarios|length }} <i class="zmdi zmdi-comments zmdi-hc-lg zmdi-hc-fw"></i></a>
                        </div>
                    </div>
                    <p class="lead"><span class="badge">&nbsp;{{ptj}}<i class="zmdi zmdi-long-arrow-up zmdi-hc-fw zmdi-hc-lg"></i></span>&nbsp;&nbsp;{{seccion.descripcion|nl2br}}</p>
                    <!--<h6><b>Importancia de la acción</b></h6>
                    <div class="btn-group btn-group-justified" style="margin-bottom:10px;">
                        <a href="javascript:votarSeccion({{seccion.id}},3)" class="btn {{((voto[seccion.id] is not null) and (voto[seccion.id] == 3)) ? 'btn-primary disabled' : 'btn-default'}}">Alta</a>
                        <a href="javascript:votarSeccion({{seccion.id}},2)" class="btn {{((voto[seccion.id] is not null) and (voto[seccion.id] == 2)) ? 'btn-primary disabled' : 'btn-default'}}">Media</a>
                        <a href="javascript:votarSeccion({{seccion.id}},1)" class="btn {{((voto[seccion.id] is not null) and (voto[seccion.id] == 1)) ? 'btn-primary disabled' : 'btn-default'}}">Baja</a>
                    </div>-->
                    {% include 'lpe/contenido/derecho/comentarioModal.twig' %}
                </div>
                <hr>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-md-4">
                {% if derecho.video is not null %}
                <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 20px;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{derecho.video}}" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endif %} 
                <div class="btn-group btn-group-justified" style="margin-bottom:25px;">
                    <a href="https://www.facebook.com/sharer.php?u={{ share_link }}" target="_blank" class="btn btn-default" style="background-color:#3b5998; color:#FFF"><i class="zmdi zmdi-facebook zmdi-hc-2x"></i></a>
                    <a href="https://twitter.com/share?text={{ twitter_txt }}&url={{ share_link }}&hashtags=nlpe" target="_blank" class="btn btn-default" style="background-color:#55acee; color:#FFF"><i class="zmdi zmdi-twitter zmdi-hc-2x"></i></a>
                    <a href="https://plus.google.com/share?url={{ share_link }}" target="_blank" class="btn btn-default" style="background-color:#dd4b39; color:#FFF"><i class="zmdi zmdi-google-plus zmdi-hc-2x"></i></a>
                </div>
                {% for opinion in derecho.opiniones %}
                <div class="panel">
                    <div class="panel-body tag-opinion bgcolor{{colorSeleccionado}}">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#opinion{{loop.index}}">
                            <div class="overlay">
                                <h5><small>La opinión de..</small><br><b>{{opinion.participante.nombre}}</b></h5>
                            </div>
                        </a>
                    </div>
                </div>
                {% include 'lpe/contenido/opinion/ver.twig' %} {% endfor %} {% if user and (user.patrulla_id != null) %}
                <a href="{{ urlFor('shwCrearOpinion')}}" class="btn btn-primary btn-block"><i class="zmdi zmdi-plus zmdi-hc-lg zmdi-hc-fw"></i>Nueva Opinion</a> {% endif %}
            </div>
        </div>
</article>
{% if user and (user.patrulla_id != null) %}
 {% include 'lpe/contenido/moderar.twig' %}
  {% endif %}
<form id="votarSeccion" method="POST">
    <input type="hidden" type="text" name="postura">
</form>
<form id="votarComentario" method="POST">
    <input type="text" name="valor" style="display:none">
</form>
{% endblock %} {# ----------------------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/autosize.min.js"></script>
<script>
    $(document).ready(function() {
        autosize($('textarea'));
        // $('body').scrollspy({ target: '#secciones' })
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        })

    })

    var votarSeccion = function(id, valor) {
        var action_no = "{{ urlFor('runVotarSeccion') }}";
        $('#votarSeccion').find('input[name="postura"]').val(valor)
        var action_yes = action_no.replace(':idSec', id);
        $('#votarSeccion').attr('action', action_yes);
        $('#votarSeccion').submit();
    }

    var verBoxResponder = function(id) {
        $('#respComentario-' + id).toggle();
    }

    var votarComentario = function(id, valor) {
        var action_no = "{{ urlFor('runVotarComenta') }}";
        $('#votarComentario').find('input[name="valor"]').val(valor)
        var action_yes = action_no.replace(':idCom', id);
        $('#votarComentario').attr('action', action_yes);
        $('#votarComentario').submit();
    }
</script>
{% include 'lpe/contenido/moderar.js.twig' %} {% endblock %}