{% extends "lpe/master.twig" %} {% block linkhead %} {% endblock %} {# -----------------------------------------------------------
#} {% block titulo %}{{ derecho.titulo }}{% endblock %} {% block body %}

<article>

    <div class="titulo-derecho-background" style="background-image: url('https://unsplash.it/1200/400/?random');">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1><strong>{{ derecho.titulo }}</strong></h1>
                        <h6><a href="#" class="btn btn-default"><i class="zmdi zmdi-edit zmdi-hc-lg zmdi-hc-fw"></i>Editar derecho</a> <a href="#" class="btn btn-warning"><i class="zmdi zmdi-close zmdi-hc-lg zmdi-hc-fw"></i>Eliminar</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="derecho" class="col-xs-12 col-sm-12 col-md-8 text-justify">
                <div id="descripcion">
                    <h3><strong>Descripción</strong></h3>
                    <p>{{ derecho.descripcion|bbCode }}</p>
                </div>
                <hr>
                <h3><strong>Acciones</strong></h3>
                {% for seccion in derecho.secciones %}
                    <div class="accion">
                    <div class="pull-right" style="margin-left:20px">
                        <h5>&nbsp;{{seccion.votos_alta}}/{{seccion.votos_media}}/{{seccion.votos_baja}}<i class="zmdi zmdi zmdi-chart zmdi-hc-fw zmdi-hc-lg"></i></h5>
                    </div>
                    <p class="lead">{{seccion.descripcion}}</p>
                    <div class="text-center">
                        <h6><b>Importancia de la acción</b></h6>
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn {{(votos[seccion.id] is not null) && (votos[seccion.id] == 3) ? 'btn-primary disabled','btn-default'}}">Alta</a>
                            <a href="#" class="btn {{(votos[seccion.id] is not null) && (votos[seccion.id] == 2) ? 'btn-primary disabled','btn-default'}}">Media</a>
                            <a href="#" class="btn {{(votos[seccion.id] is not null) && (votos[seccion.id] == 1) ? 'btn-primary disabled','btn-default'}}">Baja</a>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="pull-right">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#comentarios{{ seccion.id }}" style="margin: 0 10px">Comentar</i></a>
                            <!--<img src="https://unsplash.it/300/300/?random" class="img-circle size32" data-toggle="tooltip" data-placement="bottom" data-original-title="Usuario1"
                                alt="Avatar">-->
                            <a href="javascript:void(0)" class="btn btn-link btn-sm" data-toggle="modal" data-target="#comentarios{{ seccion.id }}" data-toggle="tooltip" data-placement="bottom" data-original-title="Ver comentarios"><i class="zmdi zmdi-comments zmdi-hc-lg zmdi-hc-fw"></i> 1</a>
                        </div>
                    </div>
                    {% include 'lpe/derecho/comentarioModal.twig' %}
                </div>
                <hr>
                {% endfor %}
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                {% if derecho.video is not null %}
                <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 20px;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{derecho.video}}" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endif %}
                {% for opinion in derecho.opiniones %}
                <div class="panel">
                    <div class="panel-body tag-opinion" style="background-image: url('https://unsplash.it/505/300/?random');">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#opinion{{loop.index}}">
                            <div class="overlay">
                                <h5><small>La opinión de..</small><br><b>##TODO##</b></h5>
                            </div>
                        </a>
                    </div>
                </div>
                {% include 'lpe/opinion/ver.twig' %}
                {% endfor %}
                <a href="#" class="btn btn-primary btn-block"><i class="zmdi zmdi-plus zmdi-hc-lg zmdi-hc-fw"></i>Nueva Opinion</a>
            </div>
        </div>
</article>

{% endblock %} {# ----------------------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/autosize.min.js"></script>

<script>
    $(document).ready(function() {
        autosize($('textarea'));
        // $('body').scrollspy({ target: '#secciones' })
        $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})

    })     
</script> {% endblock %}