{% extends "lpe/master.twig" %}
 {% block linkhead %}
<link rel="stylesheet" href="{{ baseUrl() }}/assets-lpe/css/sceditor/sceditor-main.css"> {% endblock %}
{# ----------------------------------------------------------- #} {% block titulo %}Ajustes de plataforma{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        {% set paginaAdmin = 5 %} {% include '/lpe/admin/listaSecciones.twig' %}
        <div class="col-xs-12 col-sm-9">
            <div class="text-center">
                <h2 class="text-center"><strong>Ajustes</strong></h2>
                <br>
            </div>
             <form action="{{ urlFor('runAdmAjuste') }}" method="POST">
                 
	{% for ajuste in ajustes %}
		{% if (ajuste.value_type == 'int') or (ajuste.value_type == 'str') %}
        {% if ajuste.key != 'video' %}
        <h6><strong><i class="zmdi zmdi-edit zmdi-hc-lg zmdi-hc-fw"></i>{{ ajuste.key|capitalize }}</strong></h6>
		<p>{{ ajuste.description }}</p>
        {% endif %}
        {% if ajuste.value_type == 'int' %}
				<input type="number" class="form-control" name="{{ ajuste.key }}" >
				{% elseif ajuste.value_type == 'str' %}
                {% if ajuste.key == 'videos' %}
				<input type="hidden" name="{{ ajuste.key }}" >
				{% set videos = ajuste.value|split('&&') %}
				{% for video in videos %}
				<input type="text" class="form-control idvideo" value="{{ video }}" >
				{% endfor %}
				<div class="lista-nuevos-videos">
				</div>
				<a href="javascript:agregarVideo()" class="btn btn-xs btn-info">+ nuevo video</a>
				<span class="text-info">Para borrar un video deje el campo vacio</span>
				 {% else %}
				<input type="text" class="form-control input-lg" name="{{ ajuste.key }}" >
				 {% endif %}
				{% endif%}
        <hr>
		{% elseif ajuste.value_type == 'txt' %}
		<h6><strong><i class="zmdi zmdi-edit zmdi-hc-lg zmdi-hc-fw"></i>{{ ajuste.key|capitalize }}</strong></h6>
		<p>{{ ajuste.description }}</p>
		<textarea name="{{ ajuste.key }}"></textarea>
        <hr>
		{% endif %}
	{% endfor %}
	{% if ajustes|length > 0 %}
	<div class="text-right">
		<button class="btn btn-success"><i class="fa fa-check fa-fw"></i> Aceptar los cambios</button>
	</div>
	{% else %}
    <h6><strong>No hay ajustes para la plataforma</strong></h6>
	<p>Consulte con su administrador</p>
	{% endif %}
</form>   
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/autosize.min.js"></script>
<script src="{{ baseUrl() }}/assets-lpe/js/sceditor/jquery.sceditor.js"></script>
<script>
	$(function() {
		$("textarea").sceditor({
			 plugins: "bbcode",
            emoticonsEnabled: false,
            toolbarExclude: "font,color,table,horizontalrule,subscript,superscript",
            height: '100%',
            width: '100%',
            style: "{{ baseUrl() }}/assets-lpe/css/lpe.css",
            resizeEnabled: false,
            resizeHeight: true,
            autoExpand: true,
			autoUpdate: true,
            enablePasteFiltering: true
		});
	});
	
	$(document).ready(function(){
		{% for ajuste in ajustes %}
			{% if ajuste.value_type == 'int' %}
				$('input[name="{{ ajuste.key }}"]').val({{ ajuste.value }});
			{% elseif ajuste.value_type == 'str' %}
				{% if ajuste.key == 'video' %}
				$('input[name="{{ ajuste.key }}"]')val('{{ ajuste.value }}');
				{% else %}
				$('input[name="{{ ajuste.key }}"]').val('{{ ajuste.value }}');
				{% endif %}
			{% elseif ajuste.value_type == 'txt' %}
				$('textarea[name={{ ajuste.key }}]').sceditor('instance').val('{{ ajuste.value|bbCode }}', false);
			{% endif %}
		   {% endfor %}
		   });

		   var agregarVideo = function(){
			   $('.lista-nuevos-videos').append($('<input type="text" class="form-control idvideo" value="" placeholder="7uulVAHwXi0">'))
		   }
	$( "form" ).submit(function( event ) {
        var videos = [];        
        $(".idvideo").each(function( index ) {
			if($( this ).val() != ''){
        videos.push($( this ).val());
			}
        });
        var videosString = videos.join("&&")
        $('input[name=videos]').val(videosString);
        return true;
});
</script>
{% endblock scripts %}