{% extends "ref/side-master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Moderadores{%
endblock %} {% block body %}
<div class="container-fluid" style="">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-lg-8">
            <h2>Moderadores</h2>
            <hr>
            <div class="list-group">
                <li class="list-group-item">
                    <form action="{{ urlFor('runCrearModerad') }}" method="POST">
                        <div class="form-group" style="margin-bottom:0;">
                            <label class="control-label"><strong>Agregar nuevo moderador</strong></label><br>
                            <span id="mensajeAyuda" class="text-muted">Comience escribiendo el nombre del nuevo moderador.</span><br>
                            <br>    
                            <div class="input-group">
                                <input id="typeahead" type="text" class="form-control" style="width:100%;">
                                <input type="hidden" name="id" value="">
                                <span class="input-group-btn">
                                <button type="submit" class="btn btn-success"><i class="fa fa-plus fa-fw"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                {% if moderadores|length > 0%} {% for moderador in moderadores %}
                <li class="list-group-item">
                    <div class="pull-right text-center">
                        <form action="" method="POST">
                            <input type="hidden" name="id" value="{{moderador.id}}">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-times fa-lg"></i></button>
                        </form>
                    </div>
                    <h4><strong><i class="fa fa-shield fa-lg fa-fw"></i> {{ moderador.nombre }} {{ moderador.apellido }}</strong>                        <small>{{ moderador.email}}</small></h4>
                </li>
                {% endfor %} {% else%}
                <li class="list-group-item">
                    <h6>No hay moderadores...</h6>
                </li>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-ref/js/typeahead.bundle.min.js"></script>
<script>
    var usuarios = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('usuarios'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        identify: function(obj) {
            return obj.id;
        },
        remote: {
            url: '{{ baseUrl() }}' + '/usuario?where=es_moderador-eq-0&q=%QUERY',
            wildcard: '%QUERY'
        }
    });

    $('#typeahead').typeahead({
        minLength: 4,
    }, {
        name: 'usuarios',
        display: 'nombre',
        source: usuarios,
        templates: {
            empty: '<a href="javascript:void(0)" class="list-group-item"><i class="fa fa-times fa-lg fa-fw"></i> No se encontraron usuarios</a>',
            pending: '<a href="javascript:void(0)" class="list-group-item"><i class="fa fa-circle-o-notch fa-lg fa-fw fa-spin"></i> Buscando...</a>',
            suggestion: function(data) {
                return '<a href="javascript:void(0)" class="list-group-item"><i class="fa fa-user fa-lg fa-fw"></i> ' + data.nombre + ' ' + data.apellido + ' - <i>' + data.email + '</i></a>';
            }
        }
    });

    $('#typeahead').bind('typeahead:select', function(ev, suggestion) {
        $('[name=id]').val(suggestion.id)
        $('#mensajeAyuda').html('Usuario seleccionado: ' + suggestion.nombre + ' ' + suggestion.apellido)
    });
</script> {% endblock scripts %}