{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Participantes{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        {% set paginaAdmin = 2 %} {% include '/lpe/admin/listaSecciones.twig' %}
        <div class="col-xs-12 col-sm-9">
            <div class="text-center">
                <h2 class="text-center"><strong>Participantes</strong>
        </h2>
                <br>
            </div>
            <div class="list-group">
                <li class="list-group-item">
                    <form action="{{ urlFor('runCrearPartici') }}" method="POST" class="form-horizontal">
                        <h6><strong>Nuevo participante</strong></h6>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Nombre</label>
                            <div class="col-lg-10">
                                <input name="nombre" type="text" class="form-control" id="inputEmail" placeholder="Escriba el nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Descripcion</label>
                            <div class="col-lg-10">
                                <textarea name="descripcion" rows="1" class="form-control" style="resize:none" placeholder="Escriba su descripción"></textarea>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <div class="col-xs-12"> 
                                <button type="submit" href="#" class="btn btn-success btn-sm">+ Nuevo participante</button>
                            </div>
                        </div>
                    </form>
                </li>
                {% if participantes|length > 0%} {% for participante in participantes %}
                <li class="list-group-item">
                    <div class="pull-right text-center">
                       <form action="#" method="POST">
                            <input type="hidden" name="id" value="{{participante.id}}">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                        </form>
                    </div>
                    <h4><strong><i class="zmdi zmdi-account zmdi-hc-lg zmdi-hc-fw"></i> {{ participante.nombre }}</strong></h4>
                    <h6>{{participante.descripcion}}</h6>
                </li>
                {% endfor %} {% else%}
                <li class="list-group-item">
                    <h6>No hay participantes...</h6>
                </li>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/autosize.min.js"></script>
<script>
    $(document).ready(function() {
        autosize($('textarea'));
    });
</script>
{% endblock scripts %}