{% extends "lpe/master.twig" %} {% block linkhead %}
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets/css/jquery-ui/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/assets/css/timepicker/jquery.timepicker.css" /> {% endblock %} {# ----------------------------------------------------------- #} {% block titulo %}Crear Evento{% endblock %} {% block body %}
<form action="{{ urlFor('runCrearEvento') }}" method="POST">
    <article>
        <div class="titulo-derecho-background bgcolor{{random(3)}}">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1><strong>Nuevo evento</strong></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                <div class="form-group text-center" style="margin-bottom:20px;">
                    <i class="zmdi zmdi-calendar zmdi-hc-4x"></i>
                    <h5><b>Nombre del Evento</b></h5>
                    <input type="text" name="titulo" class="form-control input-lg" style="text-align: center;" placeholder="Escriba el nombre del evento">
                </div>
                <div class="row">

                    <div class="col-xs-12 col-sm-5 text-center">
                        <div class="form-group">
                            <div id="datepicker" style="margin: 10px auto 0;"></div>
                            <input id="guardarFecha" hidden>
                            <input id="fecha-final" name="fecha" type="text" style="display:none;" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 text-center">
                        <div class="form-group">
                            <h5><b>Fecha</b></h5>
                            <input id="txt-fecha" type="text" class="form-control text-center input-lg" placeholder="Seleccione la fecha" readonly />
                            <h5><b>Hora</b></h5>
                            <input id="timepicker" type="text" class="form-control text-center input-lg" data-time-format="H:i:s" placeholder="¿Hora?" />
                            <h5><b>Lugar</b></h5>
                            <input name="lugar" type="text" class="form-control text-center" placeholder="Escriba el lugar donde se llevara a cabo el evento" style="margin: 0;" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="cuerpo" rows="2" class="form-control" cols="">Descripcion...</textarea>
                    <hr>
                </div>
                <div class="clearfix">
                    <a href="#" class="pull-left btn btn-link">Cancelar</a>
                    <button type=submit class="pull-right btn btn-primary">Crear evento</button>
                </div>
            </div>
        </div>
    </div>
    <input type="text" name="categoria" value="1" hidden>
    <input type="text" name="coordenadas" value="" hidden>
    <input type="text" name="tags" value="" hidden>
</form>

{% endblock %} {# ----------------------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/autosize.min.js"></script>
<script src="{{ baseUrl() }}/assets/js/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ baseUrl() }}/assets/js/jquery-ui/datepicker-es.js"></script>
<script src="{{ baseUrl() }}/assets/js/timepicker/jquery.timepicker.min.js"></script>
<script>
    $(document).ready(function() {
        autosize($('textarea'));
        $("#datepicker").datepicker({
            numberOfMonths: 1,
            dateFormat: 'DD, dd MM yy',
            altField: "#guardarFecha",
            altFormat: "yy-mm-dd",
            minDate: 0,
            onSelect: function() {
                $('#txt-fecha').val(this.value);
            }
        });
        $('#timepicker').timepicker({
            'timeFormat': 'H:i',
            'step': 15
        });
    });


    $('form').submit(function(e) {
        var fecha = $("#guardarFecha").val()
        fecha += ' ' + $('#timepicker').val() + ':00';
        $('#fecha-final').val(fecha);
    })


    // Evito que agreguen un retorno de carro.
    // $("textarea[name='titulo']").keypress(function(event) {
    //     if (event.keyCode == 13) {
    //         event.preventDefault();
    //     }
    // });
</script> {% endblock %}