{% extends "lpe/master.twig" %} {% block linkhead %}
<link rel="stylesheet" href="{{ baseUrl() }}/assets-lpe/css/sceditor/sceditor-main.css"> {% endblock %} {# ----------------------------------------------------------- #} {% block titulo %}Inicio{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <h2 class="text-primary"><i class="mdi mdi-plus-box"></i> Nuevo derecho</h2>
            <hr>
            <form action="" class="formulario derecho">
                <div class="form-group">
                    <input id="titulo" name="titulo" class="form-control input-lg bolder" type="text" placeholder="Titulo del derecho">
                </div>
                <div class="form-group">
                    <textarea name="descripcion" class="form-control" rows="2" placeholder="Descripcion del derecho"></textarea>
                    <span class="help-block"><b>Redacte una descripción del documento.</b> La misma tiene que dar una pequeña introduccion del documento a desarrollar.</span>
                </div>
                <hr>
                <h4 class="text-primary"><i class="mdi mdi-plus-box"></i> Secciones del derecho</h4>
                <ul class="list-group">
                    <li id="listaSecciones" class="list-group-item">
                        <div class="clearfix">
                            <h5 class="pull-left"><b>Articulo 1</b></h5>

                        </div>
                        <textarea name="cuerpo-1" class=" ">Escriba el contenido del articulo...</textarea>
                    </li>
                    <li id="li-nuevo-articulo" class="list-group-item">
                        <a id="nuevoArticulo" href="javascript:void(0)" class="btn btn-large btn-info btn-block"><i class="mdi mdi-plus"></i> Agregar una nueva sección</a>
                    </li>

                </ul>

                <div class="clearfix">
                    <a href="#" class="btn btn-large btn-default ">Cancelar</a>
                    <button type="submit" class="btn btn-lg btn-primary pull-right">Subir nuevo derecho</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %} {# ----------------------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/autosize.min.js"></script>
<script src="{{ baseUrl() }}/assets-lpe/js/sceditor/jquery.sceditor.js"></script>
<script src="{{ baseUrl() }}/assets-lpe/js/tinymce/tinymce.min.js"></script>
<script id="articuloTemplate" type="text/template">
    <li class="list-group-item li-articulo">
        <div class="clearfix">
            <h5 class="pull-left"><b>Articulo <span id="span-numArticulo">numArticulo</span></b></h5> <a id="eliminar-numArticulo" href="javascript:void(0)" data-idarticulo='numArticulo' class="eliminarArticulo pull-right" style="font-size:20px;"><i class="mdi mdi-close"></i></a>
        </div>
        <textarea name="cuerpo-numArticulo">Escriba el contenido del articulo...</textarea>
    </li>
</script>
<script>
    var numeroArticulo = 2;
    $(document).ready(function() {
        //Events
        // $("a.eliminarArticulo").on("click", eliminarArticulo);
        // autosize($('textarea'));
        iniciarEditor(1);

    });
    $("#nuevoArticulo").click(function(e) {
        var nuevoArticulo = $("#articuloTemplate").html().replace(new RegExp('numArticulo', 'g'), numeroArticulo)
        $("#li-nuevo-articulo").before(nuevoArticulo)
        iniciarEditor(numeroArticulo);
        numeroArticulo += 1
    });
    $(document.body).on('click', '.eliminarArticulo' ,function(){
        var i = $(this).data('idarticulo')+1
        $(this).closest(".li-articulo").remove();
        for(; i <= numeroArticulo+1; i++){
            $('#span-'+i).html(i-1).attr('id',"span-"+ (i-1));
            $('#eliminar-'+i).data('idarticulo',(i-1)).attr('id',"eliminar-"+ (i-1));;
            $("textarea[name='cuerpo-" + i + "']").attr('name',"cuerpo"+ (i-1))
        } 
        numeroArticulo -= 1;       
    });

    var eliminarArticulo = function(e) {
        $(this).closest(".li-articulo").remove();
    }

    var iniciarEditor = function(numero) {
		$("textarea[name='cuerpo-" + numero + "']").sceditor({
			plugins: "bbcode",
			emoticonsEnabled: false,
			toolbarExclude: "font,color,table,horizontalrule,subscript,superscript",
			height: '100',
            resizeMaxHeight: '450',
			width: '100%',
			style: "{{ baseUrl() }}/assets-lpe/css/lpe.css",
			resizeEnabled: false,
			resizeHeight: true,
			autoExpand: true
		});
    }

</script> {% endblock %}