{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Inicio{%
endblock %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio asperiores optio soluta, eos, impedit quia
                atque repellendus maiores deserunt aperiam et consequuntur minima dolor id, earum dolorem ab iusto nobis.</p>
            <div class="cuadro1"></div>
            <br><br>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="grid">
                <div class="grid-sizer"></div>
                <a href="#"><div class="grid-item">
                    <figure class="cap-bot">
                        <div class="text-center">
                            <h4 class="">Derecho a vivir en paz</h4>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                            magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                        </figcaption>
                    </figure>
                </div>
                </a>
                <div class="grid-item grid-item">
                    <figure class="cap-bot">
                        <div class="text-center">
                            <h4 class="">Derecho a vivir en paz</h4>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                            magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                        </figcaption>
                    </figure>
                </div>
                <div class="grid-item grid-item">
                    <figure class="cap-bot">
                        <div class="text-center">
                            <h4 class="">Derecho a vivir en paz</h4>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                            magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                        </figcaption>
                    </figure>
                </div>
                <div class="grid-item">
                    <figure class="cap-bot">
                        <div class="text-center">
                            <h4 class="">Derecho a vivir en paz</h4>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                            magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                        </figcaption>
                    </figure>
                </div>
                <div class="grid-item">
                    <figure class="cap-bot">
                        <div class="text-center">
                            <h4 class="">Derecho a vivir en paz</h4>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                            magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                        </figcaption>
                    </figure>
                </div>
                <div class="grid-item">
                    <figure class="cap-bot">
                        <div class="text-center">
                            <h4 class="">Derecho a vivir en paz</h4>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                            magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                        </figcaption>
                    </figure>
                </div>
                <div class="grid-item">
                    <figure class="cap-bot">
                        <div class="text-center">
                            <h4 class="">Derecho a vivir en paz</h4>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                            <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                            magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="display:none">
    <div class="row">
        <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1 cuadro2" style="background-color:{{ random(['#FF5252', '#E91E63', '#536DFE','#00796B','#00796B','#673AB7','#607D8B','#FF5722','#FF5722']) }}">
                <figure class="cap-bot">
                    <div class="text-center">
                        <h4 class="">Derecho a vivir en paz</h4>
                        <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                        <div class="btn btn-xs btn-default"><i class="mdi mdi-comment-multiple-outline"></i> 3</div>
                    </div>
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                        magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                    </figcaption>
                </figure>
            </div>
        </a>
        <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-2 cuadro2" style="background-color:{{ random(['#FF5252', '#E91E63', '#536DFE','#00796B','#00796B','#673AB7','#607D8B','#FF5722','#FF5722']) }}">
                <figure class="cap-bot">
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                        magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                    </figcaption>
                </figure>
            </div>
        </a>
        <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-2 cuadro2" style="background-color:{{ random(['#FF5252', '#E91E63', '#536DFE','#00796B','#00796B','#673AB7','#607D8B','#FF5722','#FF5722']) }}">
                <figure class="cap-bot">
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                        magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                    </figcaption>
                </figure>
            </div>
        </a>
        <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-2 cuadro2" style="background-color:{{ random(['#FF5252', '#E91E63', '#536DFE','#00796B','#00796B','#673AB7','#607D8B','#FF5722','#FF5722']) }}">
                <figure class="cap-bot">
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                        magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                    </figcaption>
                </figure>
            </div>
        </a>
        <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-2 cuadro2" style="background-color:{{ random(['#FF5252', '#E91E63', '#536DFE','#00796B','#00796B','#673AB7','#607D8B','#FF5722','#FF5722']) }}">
                <figure class="cap-bot">
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                        magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1 cuadro2" style="background-color:{{ random(['#FF5252', '#E91E63', '#536DFE','#00796B','#00796B','#673AB7','#607D8B','#FF5722','#FF5722']) }}">
                <figure class="cap-bot">
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                        magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                    </figcaption>
                </figure>
            </div>
        </a>
        <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-2 cuadro2" style="background-color:{{ random(['#FF5252', '#E91E63', '#536DFE','#00796B','#00796B','#673AB7','#607D8B','#FF5722','#FF5722']) }}">
                <figure class="cap-bot">
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                        magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                    </figcaption>
                </figure>
            </div>
        </a>
        <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-2 cuadro2" style="background-color:{{ random(['#FF5252', '#E91E63', '#536DFE','#00796B','#00796B','#673AB7','#607D8B','#FF5722','#FF5722']) }}">
                <figure class="cap-bot">
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                        magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                    </figcaption>
                </figure>
            </div>
        </a>
        <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-2 cuadro2" style="background-color:{{ random(['#FF5252', '#E91E63', '#536DFE','#00796B','#00796B','#673AB7','#607D8B','#FF5722','#FF5722']) }}">
                <figure class="cap-bot">
                    <h5>Derecho a la vida sexual</h5>
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                        magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                    </figcaption>
                </figure>
            </div>
        </a>
        <a href="#">
            <div class="col-xs-12 col-sm-6 col-md-2 cuadro2" style="background-color:{{ random(['#FF5252', '#E91E63', '#536DFE','#00796B','#00796B','#673AB7','#607D8B','#FF5722','#FF5722']) }}">
                <figure class="cap-bot">
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum, dolore quidem qui. Qui possimus nemo quibusdam distinctio
                        magni nobis quisquam facere. Eos, iusto, dignissimos vitae aspernatur tempore alias suscipit.
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
</div>
{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/masonry.pkgd.min.js"></script>
<script>
    $('.grid').masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.grid-item',
        // use element for option
        columnWidth: '.grid-sizer',
        percentPosition: true
    })
</script> {% endblock scripts %}