<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    		<meta property="og:url"                content="{{ baseUrl() }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Nueva Ley Provincial de Educacion" />
<meta property="og:description"        content="o" />
<meta property="og:image"              content="{{ baseUrl() }}/assets/img/ceut-share.png" />
<link rel="shortcut icon" href="{{ baseUrl() }}/assets-lpe/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="{{ baseUrl() }}/assets-lpe/img/favicon.ico" type="image/x-icon">
    <title>{% block titulo %}Nueva Ley de Educación Provincial - Gobierno de Santa Fe{% endblock titulo %}</title>
    <link rel="" type="" href="">
    <!-- Bootstrap -->
    {% block linkhead %}{% endblock %}
    <link href="{{ baseUrl() }}/assets-lpe/css/lpe.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#secciones">

    <div class="wrapper">

        <div class="container">
            <header class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                        <a class="navbar-brand" href="{{ urlFor('shwIndex') }}"><img src="{{ baseUrl() }}/assets-lpe/img/logo-gob-stafe.png" alt="Logo Santa Fe Provincia"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ urlFor('shwIndex') }}"><i class="zmdi zmdi-home zmdi-hc-fw zmdi-hc-lg"></i>Inicio</a></li>
                            <li><a href="#">Propuesta</a></li>
                            <li><a href="#">Antecedentes</a></li>
                            <li><a href="{{urlFor('shwListaEvento')}}">Cronograma</a></li>
                            <!--<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>-->
                        </ul>
                        
                        <ul class="nav navbar-nav navbar-right">
                            {% if user is not empty %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{{ avatarUrl(user.img_tipo, user.img_hash, 32) }}" class="img-circle" style="width:21px"> {{ user.nombre }} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% if user and (user.patrulla_id != null) %}
	<li><a href="{{ urlFor('shwCrearDerecho') }}"><i class="zmdi zmdi-hc-lg zmdi-hc-fw zmdi-plus"></i> Nuevo derecho</a></li>
	<li><a href="{{urlFor('shwCrearEvento')}}"><i class="zmdi zmdi-hc-lg zmdi-hc-fw zmdi-plus"></i> Nuevo evento</a></li>
	<li><a href="{{urlFor('shwIndexAdmin')}}"><i class="zmdi zmdi-hc-lg zmdi-hc-fw zmdi-gear"></i> Administrar</a></li>

    
                                    <li class="divider"></li>
	{% endif %}
                                    <form id="form-salir" action="{{ urlFor('runLogout') }}" method="POST">
                                    <li><button type="submit" class="btn btn-link btn-sm btn-block text-danger"><b><i class="zmdi zmdi-close-circle zmdi-hc-fw zmdi-hc-lg"></i>Salir</b></button></li>
                                    </form>
                                </ul>
                            </li>
                            {% else %}
                            <li><a href="{{ urlFor('shwLogin') }}"><i class="zmdi zmdi-sign-in zmdi-hc-lg zmdi-hc-fw"></i>Entrar</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </header>
            <div class="navbar-bottom-colors">
            </div>
            <!--HEADER-->

            {% if flash['success'] is defined %}
            <div class="row">
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ flash.success|capitalize
                    }}
                </div>
            </div>

            {% endif %} {% if flash['errors'] is defined %} 
            <div class="row">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> 
                    <ul class="list-unstyled">
            {% for error in flash['errors'] %}
                    <li><i class="zmdi zmdi-close zmdi-hc-fw zmdi-hc-lg"></i> {{ error|capitalize }}</li>
            {% endfor %}
                    </ul>
                </div>

            </div>

             {% endif %} {% if flash['warning'] is defined %}
            <div class="row">
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ flash.warning|capitalize
                    }}
                </div>
            </div>

            {% endif %}
        </div>
        <!-- container-->
        <!-- body -->
        {% block body %}{% endblock %}


        <div class="push"></div>
    </div>
    </div>
    <div class="footer">
        <img class="img-logo" src="{{ baseUrl() }}/assets-lpe/img/logo-footer.png" alt="">
        <div class="inside-footer text-center">
            <img style="height:20px" src="{{ baseUrl() }}/assets/img/bigwhitelogo.png" alt="">
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ baseUrl() }}/assets/js/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ baseUrl() }}/assets/js/bootstrap.min.js"></script>
    <!--aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
    {% block scripts %}{% endblock %}
</body>

</html>