{% extends "lpe/master.twig" %} {% block linkhead %} {% endblock %} {# -----------------------------------------------------------
#} {% block titulo %}Ver Derecho{% endblock %} {% block body %}

<article>

    <div class="titulo-derecho-background">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1><strong>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</strong></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="derecho" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-9 text-justify">
                <div id="descripcion">
                    <h2><strong>Descripción</strong></h2>
                    <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nihil blanditiis reiciendis autem maxime,
                        ducimus ullam distinctio explicabo, accusamus ratione, modi delectus commodi sed odio officia eius
                        repudiandae facere esse!</p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#" class="pull-right"><span class="badge"><i class="mdi mdi-comment-multiple-outline"></i> 3</span></a>
                        <h4><strong>Seccion 1</strong> <a href="#" class=""><i class="mdi mdi-comment-plus-outline"></i></a></h4>
                        <div class="body-seccion">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nihil blanditiis reiciendis autem
                                maxime, ducimus ullam distinctio explicabo, accusamus ratione, modi delectus commodi sed
                                odio officia eius repudiandae facere esse!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nihil blanditiis reiciendis autem
                                maxime, ducimus ullam distinctio explicabo, accusamus ratione, modi delectus commodi sed
                                odio officia eius repudiandae facere esse!</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="#" class="btn btn-success btn-link">Ocultar comentarios</a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="btn-group btn-block btn-group-justified btn-group-sm">
                                    <a href="#" class="btn btn-success">Me gusta <i class="mdi mdi-thumb-up" style="font-size: 15px;"></i></a>
                                    <a href="#" class="btn btn-default">No me gusta <i class="mdi mdi-thumb-down" style="font-size: 15px;"></i></a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="well">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-1 col-sm-offset-1 text-center"><img src="{{baseUrl()}}/assets/img/anon32.jpg" class="img-circle" style="margin:0 auto 5px" alt=""></label>
                                    <div class="col-xs-11 col-sm-9">
                                        <span class="text-info"><strong>Guillermo CROPPI</strong></span>
                                        <textarea class="comentario form-control input-sm" rows="2" placeholder="Escriba aqui su comentario..."></textarea>
                                        <div class="clearfix" style="margin-top: 10px">
                                            <button type="reset" class="btn btn-default btn-sm">Cancelar</button>
                                            <button type="submit" class=" pull-right btn btn-primary btn-sm">Enviar comentario</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="lista-comentarios">

                            <div class="row">
                                <div class="col-xs-1 col-sm-offset-1 text-center">
                                    <img src="{{baseUrl()}}/assets/img/anon32.jpg" class="img-circle" style="margin:0 auto 5px" alt="">
                                </div>
                                <div class="col-xs-11 col-sm-9">
                                    <p class="comentario">
                                        <strong>Guillermo Croppi</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Alias nihil blanditiis reiciendis autem maxime, ducimus ullam distinctio explicabo,
                                        accusamus ratione, modi delectus commodi sed odio officia eius repudiandae facere
                                        esse!
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-1 col-sm-offset-1 text-center">
                                    <img src="{{baseUrl()}}/assets/img/anon32.jpg" class="img-circle" style="margin:0 auto 5px" alt="">
                                </div>
                                <div class="col-xs-11 col-sm-9">
                                    <p class="comentario">
                                        <strong>Guillermo Croppi</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Alias nihil blanditiis reiciendis autem maxime, ducimus ullam distinctio explicabo,
                                        accusamus ratione, modi delectus commodi sed odio officia eius repudiandae facere
                                        esse!
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-1 col-sm-offset-1 text-center">
                                    <img src="{{baseUrl()}}/assets/img/anon32.jpg" class="img-circle" style="margin:0 auto 5px" alt="">
                                </div>
                                <div class="col-xs-11 col-sm-9">
                                    <p class="comentario">
                                        <strong>Guillermo Croppi</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Alias nihil blanditiis reiciendis autem maxime, ducimus ullam distinctio explicabo,
                                        <i class="mdi mdi-comment-multiple-outline" style="font-size: 15px;"></i> accusamus
                                        ratione, modi delectus commodi sed odio officia eius repudiandae facere esse!
                                    </p>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <a href="#" class="pull-right"><span class="badge"><i class="mdi mdi-comment-multiple-outline"></i> 3</span></a>
                        <h4><strong>Seccion 1</strong></h4>
                        <div class="body-seccion">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nihil blanditiis reiciendis autem
                                maxime, ducimus ullam distinctio explicabo, accusamus ratione, modi delectus commodi sed
                                odio officia eius repudiandae facere esse!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nihil blanditiis reiciendis autem
                                maxime, ducimus ullam distinctio explicabo, accusamus ratione, modi delectus commodi sed
                                odio officia eius repudiandae facere esse!</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="#" class="btn btn-success btn-link">Ocultar comentarios</a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="btn-group btn-block btn-group-justified btn-group-sm">
                                    <a href="#" class="btn btn-success">Me gusta <i class="mdi mdi-thumb-up" style="font-size: 15px;"></i></a>
                                    <a href="#" class="btn btn-default">No me gusta <i class="mdi mdi-thumb-down" style="font-size: 15px;"></i></a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="well">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-1 col-sm-offset-1 text-center"><img src="{{baseUrl()}}/assets/img/anon32.jpg" class="img-circle" style="margin:0 auto 5px" alt=""></label>
                                    <div class="col-xs-11 col-sm-9">
                                        <span class="text-info"><strong>Guillermo CROPPI</strong></span>
                                        <textarea class="comentario form-control input-sm" rows="2" placeholder="Escriba aqui su comentario..."></textarea>
                                        <div class="clearfix" style="margin-top: 10px">
                                            <button type="reset" class="btn btn-default btn-sm">Cancelar</button>
                                            <button type="submit" class=" pull-right btn btn-primary btn-sm">Enviar comentario</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row text-center">
                            <strong>No hay comentarios en esta sección.</strong> Sea el primero en comentar
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="pull-right"><span class="badge"><i class="mdi mdi-comment-multiple-outline"></i> 3</span></a>
                        <h4><strong>Seccion 1</strong></h4>
                        <div class="body-seccion">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet condimentum nunc fermentum
                                fermentum. Phasellus viverra nibh nunc, nec feugiat neque molestie eget. Proin commodo commodo
                                turpis, at posuere lacus bibendum in. Fusce nulla elit, auctor id tortor vitae, efficitur
                                cursus mi. Duis pharetra augue vitae congue aliquam. Morbi enim erat, mattis cursus egestas
                                a, tincidunt ac urna. Vivamus tincidunt leo mauris, in ullamcorper risus laoreet sit amet.
                                Morbi viverra faucibus lacus, id feugiat nulla euismod in. </p>
                            <p>Suspendisse egestas ornare tellus, sit amet ornare mauris sollicitudin et. Donec egestas, arcu
                                eu suscipit ultrices, velit mi auctor velit, sit amet euismod neque est a lorem. Proin ex
                                arcu, condimentum vitae dui non, placerat elementum nibh. Sed auctor nibh quis suscipit finibus.
                                Phasellus ornare bibendum odio in fermentum. Etiam convallis elit eget arcu malesuada mattis.
                                Donec turpis nulla, facilisis imperdiet ex quis, blandit egestas mauris. Praesent aliquet
                                tristique est quis dignissim. Vestibulum eget euismod lectus, eu fringilla tortor. Nulla
                                a rutrum dui. </p>
                            <p>Vestibulum ultrices suscipit magna dictum sollicitudin. Nunc nec justo ut purus lacinia tempor.
                                Praesent elementum leo nibh, vitae facilisis felis hendrerit in. Cras imperdiet elit nec
                                tempus efficitur. Etiam at dui non est rutrum pretium. Nullam id leo pretium, tempor leo
                                eget, bibendum diam. Ut congue urna id metus accumsan varius. </p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="#" class="btn btn-success btn-link">Ocultar comentarios</a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="btn-group btn-block btn-group-justified btn-group-sm">
                                    <a href="#" class="btn btn-success">Me gusta <i class="mdi mdi-thumb-up" style="font-size: 15px;"></i></a>
                                    <a href="#" class="btn btn-default">No me gusta <i class="mdi mdi-thumb-down" style="font-size: 15px;"></i></a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="lista-comentarios">
                            <div class="row">
                                <div class="col-xs-1 col-xs-offset-1 text-center">
                                    <img src="{{baseUrl()}}/assets/img/anon32.jpg" class="img-circle" style="margin:0 auto 5px" alt="">
                                </div>
                                <div class="col-xs-11 col-sm-9">
                                    <p class="comentario">
                                        <strong>Guillermo Croppi</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Alias nihil blanditiis reiciendis autem maxime, ducimus ullam distinctio explicabo,
                                        accusamus ratione, modi delectus commodi sed odio officia eius repudiandae facere
                                        esse!
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-1 col-xs-offset-1 text-center">
                                    <img src="{{baseUrl()}}/assets/img/anon32.jpg" class="img-circle" style="margin:0 auto 5px" alt="">
                                </div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. </p>

<p>Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.  Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. </p>
                                <div class="col-xs-11 col-sm-9">
                                    <p class="comentario">
                                        <strong>Guillermo Croppi</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Alias nihil blanditiis reiciendis autem maxime, ducimus ullam distinctio explicabo,
                                        accusamus ratione, modi delectus commodi sed odio officia eius repudiandae facere
                                        esse!
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-1 col-xs-offset-1 text-center">
                                    <img src="{{baseUrl()}}/assets/img/anon32.jpg" class="img-circle" style="margin:0 auto 5px" alt="">
                                </div>
                                <div class="col-xs-11 col-sm-9">
                                    <p class="comentario">
                                        <strong>Guillermo Croppi</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Alias nihil blanditiis reiciendis autem maxime, ducimus ullam distinctio explicabo,
                                        accusamus ratione, modi delectus commodi sed odio officia eius repudiandae facere
                                        esse!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h4><strong>Seccion 1</strong></h4>
                        <div class="body-seccion">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet condimentum nunc fermentum
                                fermentum. Phasellus viverra nibh nunc, nec feugiat neque molestie eget. Proin commodo commodo
                                turpis, at posuere lacus bibendum in. Fusce nulla elit, auctor id tortor vitae, efficitur
                                cursus mi. Duis pharetra augue vitae congue aliquam. Morbi enim erat, mattis cursus egestas
                                a, tincidunt ac urna. Vivamus tincidunt leo mauris, in ullamcorper risus laoreet sit amet.
                                Morbi viverra faucibus lacus, id feugiat nulla euismod in. </p>
                            <p>Suspendisse egestas ornare tellus, sit amet ornare mauris sollicitudin et. Donec egestas, arcu
                                eu suscipit ultrices, velit mi auctor velit, sit amet euismod neque est a lorem. Proin ex
                                arcu, condimentum vitae dui non, placerat elementum nibh. Sed auctor nibh quis suscipit finibus.
                                Phasellus ornare bibendum odio in fermentum. Etiam convallis elit eget arcu malesuada mattis.
                                Donec turpis nulla, facilisis imperdiet ex quis, blandit egestas mauris. Praesent aliquet
                                tristique est quis dignissim. Vestibulum eget euismod lectus, eu fringilla tortor. Nulla
                                a rutrum dui. </p>
                            <p>Vestibulum ultrices suscipit magna dictum sollicitudin. Nunc nec justo ut purus lacinia tempor.
                                Praesent elementum leo nibh, vitae facilisis felis hendrerit in. Cras imperdiet elit nec
                                tempus efficitur. Etiam at dui non est rutrum pretium. Nullam id leo pretium, tempor leo
                                eget, bibendum diam. Ut congue urna id metus accumsan varius. </p>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="#" class="btn btn-success btn-link">Ver comentarios <i class="mdi mdi-comment-multiple-outline" style="font-size: 15px;"></i></a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="btn-group btn-block btn-group-justified btn-group-sm">
                                    <a href="#" class="btn btn-success">Me gusta <i class="mdi mdi-thumb-up" style="font-size: 15px;"></i></a>
                                    <a href="#" class="btn btn-default">No me gusta <i class="mdi mdi-thumb-down" style="font-size: 15px;"></i></a>
                                </div>
                            </div>
                        </div>

                    </li>

                </ul>
            </div>
            <div class="col-md-2">

                <ul id="nav-derechos" class="hidden-xs hidden-sm list-group">
                    <a href="#descripcion" class="list-group-item">Descripcion</a>
                    <a href="#seccion1" class="list-group-item">Seccion 1</a>
                    <a href="#seccion2" class="list-group-item">Seccion 2</a>
                    <a href="#seccion3" class="list-group-item">Seccion 3</a>
                    <a href="#seccion4" class="list-group-item">Seccion 4</a>
                    <a href="#seccion5" class="list-group-item">Seccion 5</a>
                </ul>
                <!--<ul id="nav-derechos" class="nav nav-pills nav-stacked affix-top" class="nav hidden-xs hidden-sm" data-spy="affix">
                        <li><a href="#descripcion">Descripcion</a></li>
                        <li><a href="#seccion1">Seccion 1 <span class="badge"><i class="mdi mdi-comment-multiple-outline"></i> 1</span></a></li>
                        <li><a href="#seccion2">Seccion 2 <span class="badge"><i class="mdi mdi-comment-multiple-outline"></i> 1</span></a></li>
                        <li><a href="#seccion3">Seccion 3 <span class="badge"><i class="mdi mdi-comment-multiple-outline"></i> 1</span></a></li>
                        <li><a href="#seccion4">Seccion 4 <span class="badge"><i class="mdi mdi-comment-multiple-outline"></i> 1</span></a></li>
                        <li><a href="#seccion5">Seccion 5 <span class="badge"><i class="mdi mdi-comment-multiple-outline"></i> 1</span></a></li>
                    </ul>-->

            </div>
        </div>
    </div>

</article>
{% endblock %} {# ----------------------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/autosize.min.js"></script>

<script>
    $(document).ready(function() {
        autosize($('textarea'));
        // $('body').scrollspy({ target: '#secciones' })
$('#nav-derechos').affix({
    offset: {
        top: 400,
        bottom:250
    }
});
    });
</script> {% endblock %}