{% extends "lpe/master.twig" %}
 {# ----------------------------------------------------------- #} 
 {% block titulo %}{{ usuario.nombre }} {{ usuario.apellido }}{%endblock %}
 {% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="text-center">
                 <img src="{{ avatarUrl(usuario.img_tipo, usuario.img_hash, 160) }}" class="img-circle img-responsive" style="margin: 0 auto;"
                data-toggle="tooltip" data-placement="bottom" data-original-title="Usuario1" alt="Avatar">
            <h2><strong>{{ usuario.nombre }} {{ usuario.apellido }}</strong></h2>
            <ul class="list-inline">
                <li><strong>Fecha de nacimiento:</strong> {{ usuario.birthday|date("d/m/Y")}}</li>
                <li><strong>Localidad:</strong> {{ usuario.address }}</li>
                <li><strong>Ocupacion:</strong> {{ usuario.title }}</li>
            </ul>
            <hr>
            </div>
        </div>
        <div class="col-sm-6">
            <h4><strong>Comentarios <i class="zmdi zmdi-comment-outline zmdi-hc-fw"></i>({{usuario.comentarios_count}})</strong></h4>
              {% if comentarios|length > 0 %} {% for comentario in comentarios %}
                <blockquote>
                <p class="lead">{{ comentario.cuerpo }}</p>
                <p class="lead"><small>Comentario hecho el {{ comentario.created_at|date("d/m/Y")}}</small></p>
                </blockquote>
                <hr>
                {% endfor%} {% else %}
                <blockquote>
                <p>No hay comentarios..</p>
                </blockquote>
                {% endif %}
            {#<blockquote>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <p class="lead"><small>Comentario en <cite title="Source Title">"Derecho 1"</cite> el 3/10/2016</small></p>
            </blockquote>#}
          
        </div>
    </div>
</div>

{% endblock %} {# ----------------------------------------------------------- #} {% block scripts %}
{% endblock %}