{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Login{%
endblock %} {% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <img src="{{ avatarUrl(usuario.img_tipo, usuario.img_hash, 160) }}" class="img-circle img-responsive" style="margin: 0 auto;"
                data-toggle="tooltip" data-placement="bottom" data-original-title="Usuario1" alt="Avatar">
            <h2><strong>{{ usuario.nombre }} {{ usuario.apellido }}</strong></h2>
            <ul class="list-unstyled">
                <li><strong>Direccion:</strong> San Juan 2591</li>
                <li><strong>Direccion:</strong> San Juan 2591</li>
                <li><strong>Direccion:</strong> San Juan 2591</li>
                <li><strong>Direccion:</strong> San Juan 2591</li>
            </ul>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4><strong>Ultima actividad</strong></h4>
            <ul class="list-group">
                {% if acciones|length > 0 %} {% for accion in acciones %}
                <li class="list-group-item">
                    <span class="badge">{{ accion.fecha|date("d/m/Y") }}</span>{{ accion.mensaje|raw }}
                </li>
                {% endfor%} {% else %}
                <li class="list-group-item">
                    <i class="zmdi zmdi-check zmdi-hc-fw"></i> No hay acciones realizadas por el usuario
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-6">
            <h4><strong>Comentarios</strong></h4>
            <blockquote>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <p class="lead"><small>Comentario en <cite title="Source Title">"Derecho 1"</cite> el 3/10/2016</small></p>
            </blockquote>
            <hr>
            <blockquote>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <p class="lead"><small>Comentario en <cite title="Source Title">"Derecho 1"</cite> el 3/10/2016</small></p>
            </blockquote>
            <hr>
            <blockquote>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <p class="lead"><small>Comentario en <cite title="Source Title">"Derecho 1"</cite> el 3/10/2016</small></p>
            </blockquote>
            <hr>
        </div>
    </div>
</div>

{% endblock %} {# ----------------------------------------------------------- #} {% block scripts %}
{% endblock %}