{% extends "lpe/master.twig" %} 

{% block linkhead %}
<link rel="stylesheet" href="{{ baseUrl() }}/assets-lpe/css/sceditor/sceditor-main.css"> {% endblock %} {# ----------------------------------------------------------- #} {% block titulo %}Editar opinion{% endblock
%} {% block body %}
<form action="{{ urlFor('runModifOpinion',{'idOpi':opinion.id}) }}" method="POST">
<article>
    <div class="titulo-derecho-background bgcolor{{random(3)}}" >
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1><small>La opinión de...</small><br><strong>{{opinion.participante.nombre}}</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <textarea name="cuerpo"></textarea>
            <hr>
            <div class="clearfix">
                <a href="{{ urlFor('shwIndex')}}" class="pull-left btn btn-link">Cancelar</a>
                <button type=submit class="pull-right btn btn-primary">Editar opinion</button>
            </div>
        </div>

    </div>
</div>
</form>

{% endblock %} {# ----------------------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/autosize.min.js"></script>
<script src="{{ baseUrl() }}/assets-lpe/js/sceditor/jquery.sceditor.js"></script>
<script>
    $(document).ready(function() {
    $("textarea[name='cuerpo']").sceditor({
            plugins: "bbcode",
            emoticonsEnabled: false,
            toolbarExclude: "font,color,table,horizontalrule,subscript,superscript",
            height: '100%',
            width: '100%',
            style: "{{ baseUrl() }}/assets-lpe/css/lpe.css",
            resizeEnabled: false,
            resizeHeight: true,
            autoExpand: true    
        });
        $("textarea[name='cuerpo']").sceditor('instance').val('{{ opinion.cuerpo|bbCode }}', false);
    });

</script> {% endblock %}