<div class="col-xs-12 col-sm-3">
    <div class="list-group">
        <a href="{{ urlFor('shwIndexAdmin') }}" class="list-group-item {{paginaAdmin == 1 ? 'active':''}}">Administracion</a>
        <a href="{{ urlFor('shwListaPartici') }}" class="list-group-item {{paginaAdmin == 2 ? 'active':''}}">Participantes</a>
        <a href="{{ urlFor('shwCrearModerad') }}" class="list-group-item {{paginaAdmin == 3 ? 'active':''}}">Moderadores</a>
        <a href="{{ urlFor('shwCrearImagen') }}" class="list-group-item {{paginaAdmin == 4 ? 'active':''}}">Imagenes</a>
        <a href="{{ urlFor('shwAdmAjuste') }}" class="list-group-item {{paginaAdmin == 5 ? 'active':''}}">Ajustes</a>
    </div>
</div>