{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Inicio{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        {% set paginaAdmin = 3 %} {% include '/lpe/admin/listaSecciones.twig' %}
        <div class="col-xs-12 col-sm-9">
            <div class="text-center">
                <h2 class="text-center"><strong>Moderadores</strong>
        </h2>
                <br>
            </div>
            <div class="list-group">
                <li class="list-group-item">
                    <form action="{{ urlFor('runCrearModerad') }}" method="POST">
                        <div class="form-group" style="margin-bottom:0;">
                            <label class="control-label"><strong>Agregar nuevo moderador</strong><br><span id="mensajeAyuda">Comience escribiendo el nombre del nuevo moderador.</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-account zmdi-hc-lg zmdi-hc-fw"></i></span>
                                <input id="typeahead" type="text" class="form-control" style="width:100%;">
                                <input type="hidden" name="id" value="">
                                <span class="input-group-btn">
                                <button type="submit" class="btn btn-success" type="button"><i class="zmdi zmdi-plus zmdi-hc-lg"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                {% if moderadores|length > 0%} {% for moderador in moderadores %}
                <li class="list-group-item">
                    <div class="pull-right text-center">
                        <form action="" method="POST">
                            <input type="hidden" name="id" value="{{moderador.id}}">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                        </form>
                    </div>
                    <h4><strong><i class="zmdi zmdi-accounts-list-alt zmdi-hc-lg zmdi-hc-fw"></i> {{ moderador.nombre }} {{ moderador.apellido }}</strong> <small>{{ moderador.email}}</small></h4>
                </li>
                {% endfor %} {% else%}
                <li class="list-group-item">
                    <h6>No hay moderadores...</h6>
                </li>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/typeahead.bundle.min.js"></script>
<script>
    var usuarios = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('usuarios'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        identify: function(obj) {
            return obj.id;
        },
        remote: {
            url: '{{ baseUrl() }}' + '/usuario?where_null=patrulla_id&q=%QUERY',
            wildcard: '%QUERY'
        }
    });

    $('#typeahead').typeahead({
        minLength: 4,
    }, {
        name: 'usuarios',
        display: 'nombre',
        source: usuarios,
        templates: {
            empty: '<a href="javascript:void(0)" class="list-group-item"><i class="zmdi zmdi-close zmdi-hc-lg zmdi-hc-fw"></i> No se encontraron usuarios</a>',
            pending: '<a href="javascript:void(0)" class="list-group-item"><i class="zmdi zmdi-spinner zmdi-hc-lg zmdi-hc-fw zmdi-hc-spin"></i> Buscando...</a>',
            suggestion: function(data) {
                return '<a href="javascript:void(0)" class="list-group-item"><i class="zmdi zmdi-account-circle zmdi-hc-lg zmdi-hc-fw"></i> ' + data.nombre + ' ' + data.apellido + ' - <i>' + data.email + '</i></a>';
            }
        }
    });

    $('#typeahead').bind('typeahead:select', function(ev, suggestion) {
        $('[name=id]').val(suggestion.id)
        $('#mensajeAyuda').html('Usuario seleccionado: ' + suggestion.nombre + ' ' + suggestion.apellido)
    });
</script> {% endblock scripts %}