{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Inicio{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        {% set paginaAdmin = 4 %} {% include '/lpe/admin/listaSecciones.twig' %}
        <div class="col-xs-12 col-sm-9">
            <div class="text-center">
                <h2 class="text-center"><strong>Imagenes</strong>
        </h2>
                <br>
            </div>
            <div class="list-group">
                <li class="list-group-item">
                    <form action="{{ urlFor('runCrearImagen') }}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label"><strong>Nueva Imagen</strong></label><br>
                            <div class="input-group">
                                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Explorar <input name="archivo" type="file" style="display: none;">
                    </span>
                </label>
                                <input type="text" class="form-control" readonly style="padding-left:10px">
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success">Subir imagen</button>
                        </div>
                    </form>
                </li>
                {% if imagenes|length > 0 %} {% for imagen in imagenes %}
                <li class="list-group-item">
                    <div class="clearfix">
                        <div class="pull-right text-center">
                            <form action="" method="POST">
                                <input type="hidden" name="nombre" value="{{imagen.nombre}}">
                                <a href="javascript:void(0)" class="btn btn-success" onclick="copyToClipboard('{{ baseUrl() + '/img/uploads/' + imagen }}')"><i class="zmdi zmdi-copy"></i></a>
                                <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-close zmdi-hc-lg"></i></button>
                            </form>
                        </div>
                        <div class="pull-left">
                            <img src="{{ baseUrl() + '/img/uploads/' + imagen }}" class="img-thumbnail" style="height:100px">
                        </div>
                        <h4><strong><i class="zmdi zmdi-image zmdi-hc-lg zmdi-hc-fw"></i>{{ imagen.nombre }}</strong></h4>
                        <h6>&nbsp;&nbsp;&nbsp;{{ baseUrl() + '/img/uploads/' + imagen.nombre }}</h6>
                    </div>
                </li>
                {% endfor %} {% else %}
                <li class="list-group-item">
                    <h6>No hay imagenes...</h6>
                </li>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script>
    $(document).ready(function() {
        $(':file').on('fileselect', function(event, numFiles, label) {
            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;
            if (numFiles > 1 || numFiles == 0) {
                alert('Por favor, seleccione solo 1 archivo');
            } else if (numFiles == 1) {
                input.val(log);
            }
        });

    });

    $(document).on('change', ':file', function() {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    function copyToClipboard(text) {
        window.prompt("Copie haciendo: Ctrl+C, Enter", text);
    }
</script> {% endblock scripts %}